body { /*Se n tiver flex o nao tem divisoria entre os elementos aside e main*/
  display: flex;
}

aside {
      width: 300px;
      height: 100vh;
      border-right: 1px solid #ccc;
      padding: 20px;
      font-family: Arial, sans-serif;
    }

    .logo {
      margin-bottom: 40px;
      text-align: center;
    }

    nav ul {
      list-style: none;
      padding: 0;
    }

    nav li {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 12px 8px;
      cursor: pointer;
      font-size: 16px;
    }

    nav li i {
      font-size: 18px;
    }

    nav li:hover {
      background: #f2f2f2;
      border-radius: 6px;
    }

    .anim {
  transition: transform 0.4s ease;
  transform: scale(1);
}

.anim:hover {
  transform: scale(1.07);
}


    main {
  padding: 30px;
}

.welcome h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 4px;
}

.welcome p {
  color: #555;
  font-size: 15px;
  margin-bottom: 30px;
}

.welcome {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  width: 100%;  /* linha completa */
}