body { /*Se n tiver flex o nao tem divisoria entre os elementos aside e main*/
  display: flex;
}

aside {
      width: 300px;
      height: 100vh;
      border-right: 1px solid #ccc;
      padding: 20px;
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .user-box {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 18px;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

.user-foto {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  background: #eee;
}

.user-info h4 {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}

.user-info p {
  font-size: 12px;
  color: #777;
  margin: 0;
}

.logout {
  margin-left: auto;
  cursor: pointer;
  opacity: .7;
  transition: .3s;
}

.logout:hover {
  opacity: 1;
}

    .logo {
      margin-bottom: 40px;
      text-align: center;
    }

    nav ul {
      list-style: none;
      padding: 0;
    }

    nav li {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 12px 8px;
      cursor: pointer;
      font-size: 16px;
    }

    nav {
      flex-grow: 1;
    }


    nav li i {
      font-size: 18px;
    }

    nav li:hover {
      background: #f2f2f2;
      border-radius: 6px;
    }

    .anim {
  transition: transform 0.4s ease;
  transform: scale(1);
}

.anim:hover {
  transform: scale(1.07);
}


    main {
  padding: 30px;
}

.welcome h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 4px;
}

.welcome p {
  color: #555;
  font-size: 15px;
  margin-bottom: 30px;
}

.welcome {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}



.usuarios-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 40px;
  padding: 15px 50px;
  width: 100%;
  max-width: 1200px;
}

.user-card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.20);
  transition: 0.3s;
}

.user-card:hover {
  transform: translateY(-6px);
}

.user-card-photo {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  background: #eee;
  margin-bottom: 12px;
}

.user-card h3 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 5px;
}

.user-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.btn-ver {
  background: #007bff;
  border: none;
  padding: 8px 14px;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: .3s;
}

.btn-ver:hover {
  background: #005ec7;
}



nav ul li a {
  display: flex;
  
  gap: 12px;
  text-decoration: none;
  color: black
}

.fade-in {
  animation: subir 0.7s ease forwards;
  opacity: 0;
}

@keyframes subir {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
