aside {
      width: 300px;
      height: 100vh;
      border-right: 1px solid #ccc;
      padding: 20px;
      font-family: Arial, sans-serif;
    }

    .logo {
      margin-bottom: 40px;
      text-align: center;
    }

    nav ul {
      list-style: none;
      padding: 0;
    }

    nav li {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 12px 8px;
      cursor: pointer;
      font-size: 16px;
    }

    nav li i {
      font-size: 18px;
    }

    nav li:hover {
      background: #f2f2f2;
      border-radius: 6px;
    }

    .tenta{
       margin-bottom: 50px;
        
        
    }